:root {
  --background-colour: rgb(246, 245, 237);
  --blue: #2136ad;
  --grey: #383838;
}

.App {
  text-align: center;
  height: 100vh;
  overflow: hidden;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: var(--background-colour);
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  font-size: calc(10px + 2vmin);
  color: var(--grey);
  position: relative;
  z-index: 20;
}

.navbar {
  padding: 20px 0;
  margin: 0;
  width: 100%;
  /* position: absolute; */
  top: 0;
  z-index: 20;

  background-color: rgba(202, 202, 202, 0.85);
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);

  display: flex;
  justify-content: space-around; 
  align-items: center;
}

.navbar-heading {
  margin: 0;
}

.navbar-tabs {
  display: flex;
  gap: 1em;
}

.navbar-tab {
  margin-left: 20px;
  cursor: pointer;
  text-decoration: none;
  color: inherit;
}


