.chat-window {
    position: fixed;
    bottom: 0;
    
    width: 90%;
    height: 100%;
  
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    z-index: 10;
}
  
.messages {
    flex: 1;
    padding: 10px;
    overflow-y: auto;
    height: 100%;

    display: flex;
    flex-direction: column-reverse;
    align-items: flex-start; /* Align messages to the left */
}

.message {
    display: inline-block;
    margin-top: 10px;
    padding: 10px;
    border-radius: 5px;
    max-width: 80%; /* Optional: to prevent very long messages from stretching too far */
}

.message p {
    margin: 0.5em;
}

.message.user p {
    margin-left: 0;
}

.message.agent {
    background-color: var(--blue);
    text-align: left;
    color: white;
}

.message.user {
    text-align: left;
}

.input-area {
    display: flex;
    border-radius: 5px;
    width: 100%;
    font-size: inherit;
    padding-bottom: 2em;
    margin-top: 1em;
}

.input-area input {
    flex: 1;
    padding: 10px;
    border: none;
    outline: none;
    border-radius: 5px 0 0 5px;
    font-family: 'Urbanist', sans-serif;
    font-size: inherit;
    background-color: white;
}

.input-area button {
    padding: 10px;
    border: none;
    background: var(--grey);
    color: white;
    cursor: pointer;
    border-radius: 0 5px 5px 0;
    font-family: 'Urbanist', sans-serif;
    font-size: inherit;
}